.social-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  top: 85%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 2000;
}

.social-links span a {
  font-size: 1.1rem;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-links .ig {
  background: #e4405f;
}
.social-links .fb {
  background: #1877f2;
}
.social-links .yt {
  background: #ff0000;
}
.social-links .tg {
  background: #0088cc;
}

.social-links span a:hover {
  transform: scale(1.2);
  opacity: 0.9;
}
