/* ===== Desktop Base ===== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: box-shadow 0.3s ease, top 0.3s ease;
}

.navbar.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.336);
  top: -2%;
}

.logo {
  display: flex;
}

.logo-img {
  height: 10vh;
  width: 20vw;
  object-fit: contain;
}

/* Nav Links (desktop only) */
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #4b5563;
  font-size: 1.3rem;
  position: relative;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  display: block;
  height: 4px;
  border-radius: 8px;
  width: 0%;
  background-color: #106E8A;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.nav-link:hover,
.nav-link.active {
  color: #106E8A;
}

.nav-link.active::after {
  width: 100%;
}

/* Buttons */
.auth-buttons {
  display: flex;
  gap: 15px;
}

.auth-buttons .sign-in {
  background-color: #106E8A;
  color: white;
  padding: 12px 30px;
  height: 8vh;
  width: 10vw;
  font-size: 1rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  animation: blink 5s infinite;
}

.auth-buttons .sign-up {
  background-color: rgba(255, 148, 61, 0.153);
  color: #106E8A;
  padding: 12px 30px;
  height: 8vh;
  width: 10vw;
  font-size: 1rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

@keyframes blink {
  0%, 100% {
    background-color: #106E8A;
    color: white;
    transform: translateY(-0.5rem);
  }
  50% {
    background-color: rgba(255, 148, 61, 0.153);
    color: #106E8A;
    transform: translateY(0.5rem);
  }
}

.auth-buttons .sign-in:hover {
  animation: none;
  background-color: rgba(255, 148, 61, 0.153);
  color: #106E8A;
}

.auth-buttons .sign-up:hover {
  background-color: #106E8A;
  color: white;
}

/* Hamburger hidden by default */
.hamburger {
  display: none;
}

/* ===== Mobile View ===== */
@media (max-width: 600px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 100vw;
  }

  /* Hide links in mobile */
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background: white;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #ddd;
  }

  .nav-links.open {
    display: flex;
  }

  /* Smaller logo */
  .logo {
    margin-left: -10px;
  }
  .logo-img {
    width: 60px;
    height: auto;
  }

  /* Buttons in middle */
  .auth-buttons {
    flex-grow: 1;
    justify-content: center;
    gap: 6px;
  }

  .auth-buttons button {
    min-width: 7rem;
    padding: 6px 10px;
    font-size: 0.65rem;
    height: auto;
    border-radius: 9999px;
  }

  /* Hamburger right */
  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }
}







