.whatsapp-button {
  position: fixed;
  bottom: 110px;
  right: 32px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  background: #25d366;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: box-shadow 0.2s, transform 0.2s;
  cursor: pointer;
}

.whatsapp-button:hover {
  box-shadow: 0 8px 32px rgba(0, 138, 60, 0.8);
  transform: translateY(-6px) scale(1.08);
  border: 1px solid rgba(0, 167, 0, 0.463);
}